# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Work with various data science libraries
* Create visualizations using different plotting tools
* Use development environments for data science
* Implement machine learning algorithms

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ----------------- |
| JupyterLab |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Oliver